//Layout Breakpoints//
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//colors
$primary-color: #9A7E6F;
$secondary-color: #CBD2A4;
$text-color: #333;
$background-color: #FEFAE0;

//other
$border-radius: 5px;
$padding: 15px;
$margin: 10px;